# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# load csv and create a data frame
weather_df = pd.read_csv('csv_file\weather.csv')
weather_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country
0,Kapaa,22.0752,-159.3190,71.60,49,40,13.80,US
1,Lata,40.1629,-8.3327,55.00,90,92,1.99,PT
2,Guerrero Negro,27.9769,-114.0611,57.90,85,0,11.88,MX
3,Tasiilaq,65.6145,-37.6368,14.00,62,75,3.44,GL
4,Ţaga,46.9500,24.0500,43.00,100,75,2.30,RO
...,...,...,...,...,...,...,...,...
553,Gazojak,41.1875,61.4036,43.56,65,100,10.76,TM
554,Kodinsk,58.6881,99.1844,-0.11,87,75,9.17,RU
555,Davila,18.4726,120.5763,86.00,58,75,5.75,PH
556,Marsá Maţrūḩ,31.3525,27.2453,46.40,66,18,2.30,EG
557,Talnakh,69.4865,88.3972,-8.61,90,97,3.20,RU

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# configure gmaps
gmaps.configure(api_key=g_key)

# using lat and lng to create variable, locations
locations = weather_df[['Lat', 'Lng']]
humidity = weather_df['Humidity'].astype(int)

In [4]:
# plot heatmap
# figure_layout = {
#     'width': '400px',
#     'height': '300px',
#     'border': '1px solid black',
#     'padding': '1px',
#     'margin': '0 auto 0 auto'
# }
    
fig = gmaps.figure()

# create the heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=10, point_radius=3)

# add heat layer
fig.add_layer(heat_layer)

#display the figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [25]:
# conditional statement to fit weather conditions
clean_df = weather_df.loc[(weather_df['Max Temp'] > 70) & (weather_df['Max Temp'] < 80) & 
                          (weather_df['Wind Speed'] < 6) & (weather_df['Cloudiness'] == 0)]
clean_df.count()

City          11
Lat           11
Lng           11
Max Temp      11
Humidity      11
Cloudiness    11
Wind Speed    11
Country       11
dtype: int64

In [30]:
# drop any rows with null values
hotel_df = clean_df.dropna(how='any')

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [32]:
hotel_df['Hotel Name'] = ''
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Hotel Name
105,New Norfolk,-42.7826,147.0587,73.99,37,0,3.00,AU,
108,Saint-Louis,16.3333,-15.0000,71.60,46,0,2.30,SN,
126,Pisco,-13.7000,-76.2167,71.60,78,0,2.30,PE,
173,Iquitos,-3.7481,-73.2472,78.80,83,0,5.75,PE,
209,Mogok,22.9167,96.5000,72.14,35,0,1.59,MM,
277,Puerto El Triunfo,13.2833,-88.5500,73.40,83,0,3.44,SV,
322,Prieska,-29.6641,22.7474,76.41,38,0,3.33,ZA,
335,Sittwe,20.1500,92.9000,79.38,33,0,3.85,MM,
357,Tezu,27.9167,96.1667,78.60,18,0,3.22,IN,
485,Bahía Honda,22.9036,-83.1592,72.55,79,0,4.36,CU,
520,El Salvador,13.8333,-88.9167,73.40,83,0,3.44,SV,

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure